@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* { 
    padding: 0; 
    margin: 0; 
    outline: none; 
    border: none; 
    box-sizing: border-box; 
}

body { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;

    height: 100vh; 
    margin: 0; 

    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;

    background-color: #eb4f34;
}

nav {  
    font-weight: 700; 

    max-width: 1200px; 
    margin-top: 30px;
    gap: 2px; 

    display: flex;
    justify-content: center; 
    align-items: center; 
}

a { 
    text-decoration: none; 
    color: #ffffff
}

ul { 
    list-style: none; 
}

h1 { 
    font-size: 50px; 
}

.nav-links { 
    width: 30%;  
    gap: 25px; 

    display: flex; 
    justify-content: center;
    align-items: center; 
}

.link { 
    transition: transform 0.2s ease;
}

.link:hover { 
    transform: translateY(-5%);
}

.link a { 
    position: relative; 
    padding-bottom: 2px;
    color: #ffffff;
}

.link a::after { 
    content: ""; 
    position: absolute; 

    height: 2px; 
    width: 0; 
    bottom: 0; 
    left: 0; 

    background-color: #ebab34;

    transition: all 0.2s ease;
}

.link a:hover::after { 
    width: 100%; 
}

.blur { 
    position: absolute; 
    box-shadow: 0 0 1000px 50px #ebab34; 
    z-index: -100; 
}

header .content h1 span { 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.container { 
    display: flex; 
    flex-direction: column;
    flex: wrap; 
    align-items: start; 
    justify-content: center;

    max-width: 1200px; 
    margin: 0rem auto 5rem; 
    padding: 3rem 0rem 0rem 5rem; 
    gap: 2rem; 

    font-size: 15px; 
}

.content { 
    width: 60%; 
}

.search-box {
    position: relative; 

    height: 60px; 
    width: 60px; 

    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active { 
    max-width: 400px; 
    width: 45%
}

.search-box input { 
    font-size: 18px;

    height: 100%; 
    width: 100%; 
    background: #fff;

    border-radius: 50px;
    padding: 0 60px 0 20px; 

    opacity: 0; 
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active { 
    opacity: 1; 
}

.search-box .search-button { 
    position: absolute; 
    top: 50%; 
    right: 0px; 
    z-index: 1; 
    transform: translateY(-50%);

    height: 60px; 
    width: 60px; 
    border-radius: 50px; 
    background: #fff;

    color: #eb7434; 
    line-height: 60px; 
    font-size: 20px; 
    text-align: center; 

    cursor: pointer; 
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-button.active { 
    height: 50px; 
    width: 50px; 
    background: linear-gradient(to right, #ebab34, #eb4f34);

    color: #fff; 
    line-height: 50px; 

    right: 5px; 
    transform: translateY(-50%) rotate(360deg); 
}

.search-box .cancel-button {
    position: absolute; 
    top: 50%; 
    right: 20px;
    transform: translateY(-50%);

    color: #fff; 
    font-size: 25px; 

    cursor: pointer; 
    transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-button.active { 
    right: -40px; 
    transform: translateY(-50%) rotate(360deg); 
}

